
# Copy to .env and fill these in
GEMINI_API_KEY="AIzaSyCD3uRdPVzZM2G2Emrdfc2g5CzoBv29oSU"
DATABASE_URL="postgresql+psycopg2://postgres:Jain%402514@127.0.0.1:5432/med_ai"
APP_ENV=development
JWT_SECRET=healytics12121
JWT_ALGORITHM=HS256
JWT_EXPIRES_MIN=120
GOOGLE_CLIENT_ID=57926672783-6d4vr7f7ec7bjrspqbpoehcfrvdh06hp.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=http://localhost:8000/auth/google/callback
FRONTEND_URL=http://localhost:5173